<%= render "shared/header" %>

<div class="admin-mypage">
  <div class="manage-page-title">
    <i class="fa fa-male"></i>
    <span class="manage">運営者管理ページ</span>
  </div>
    <div class="admin-show">
    投稿した保育園一覧</div>
    <div class='preschool-contents'>
      <ul class='preschool-lists'>
      <% @preschools.each do |preschool| %>
      <li class='list'>
          <%= link_to preschool_path(preschool.id),class: "preschool-path"  do %>
            <div class='preschool-img-content'>
              <% preschool.images.each do |image|%>
                <%= image_tag(preschool.images[0], class:"preschool-img")%> 
              <% end %>
            </div>
            <div class='preschool-info'>
              <div class='preschool-name'><%= preschool.name %></br>
                <span class="preschool-category">(<%= preschool.category.name%>)<span></div>
              <div class='preschool-concept'><%= preschool.concept %>
                <%unless user_signed_in?%>
                  <span class="like-count">★<%= preschool.likes.count %></span>
                <%end%>  
              </div>
          <% end %>
          <%# <% if admin_signed_in? && current_admin.id == preschool.admin_id %> 
            <ul class="preschool__manage">
              <li><%= link_to "編集",  edit_preschool_path(preschool.id), class: :edit_btn %></li>
              <li><%= link_to "削除",  preschool_path(preschool.id), class: :delete_btn,method: :delete %></li>
            </ul>
          <%# <% end%> 
        
        </li>
        <% end %>
      </ul>
      
  </div>
  
</div>
<%= render "shared/footer"%>