<%= render "shared/header" %>

<%# 画面上部の帯部分 %>
<div class='title-contents'>
  <div>
    <div class="service-title">保育園探しをもっと簡単に。</div>
    <div class="search-navi">
      <%= search_form_for @q, url: search_path do |f| %>
        <%= f.text_field :name_or_address_or_access_or_concept_cont, placeholder: "キーワードから探す",class:"keyword-search"%>
        <div class="category">
          <%= f.collection_select(:category_id_eq, Category.where.not(id: 0), :id, :name, {include_blank: "運営種別で検索"}, {class: "search-select"}) %>
          <%= f.collection_select(:area_id_eq,  Area.where.not(id: 0), :id, :name, {include_blank: "エリアで検索"}, {class: "search-select"}) %>
          <%= f.submit '探す' ,class:"search-btn"%>
        </div>
      <% end # search_form_for @q %>
    </div>      
  </div>
  <div class="three-points">
    <%= image_tag "3points_block.png", class:"three-points-block" %>
    <%# <%= image_tag "3points_flex.png", class:"three-points-flex" %> 
  </div>
  <%# 検索結果表示 %>

  <%# 検索結果表示 %>
</div>
<%# /画面上部の帯部分  %>



  <ul class='preschool-lists'>
    <% @preschools.each do |preschool| %>
      <li class='list'>
        <%= link_to preschool_path(preschool.id) ,class: "preschool-path" do %>
          <div class='preschool-img-content'>
            <% preschool.images.each do |image|%>
              <%= image_tag(preschool.images[0], class:"preschool-img")%> 
            <% end # preschool.images.each %>
          </div>
          <div class='preschool-info'>
            <div class='preschool-name'><%= preschool.name %></br>
            <span class="preschool-category">(<%= preschool.category.name%>)<span></div>
            <div class='preschool-concept'><%= preschool.concept %>
        <div class="like-area">
          <% unless user_signed_in? %>
            <span class="like-count">★<%= preschool.likes.count %></span>
          <% end %>
          <% if user_signed_in? && current_user.already_liked?(preschool) %>
            <div class= "liked_destroy_area">
              <%= link_to "★", preschool_likes_path(preschool), data: {id: preschool.id}, remote:true, method: :delete, class: "liked_destroy_btn" %>
              <span class="like-count"><%= preschool.likes.count %></span>
          </div>
          <% elsif user_signed_in?  %>
            <div class="like_area">
              <%= link_to "☆", preschool_likes_path(preschool), data: {id: preschool.id}, remote:true, method: :post, class: "liked_btn" %>
              <span class="like-count"><%= preschool.likes.count %></span>
            </div>
          <% end %>
        </div>
        </div>
          </div>
        <% end # link_to preschool_path(preschool.id) %>
      </li><%# .list %>
    <% end # @preschools.each %>
  </ul><%# .preschool-lists %>
</div><%# .preschool-contents %>

<%= render "shared/footer" %>