<%= render "shared/header" %>

<div class="new-form">
    <ul class="new-title">
      <li class="new-submit">新規投稿</li>
      <li class="title-indispensable">※</li>
      <li class="indispensable-form">は必須投稿</li>
    </ul>
    <%= form_with(model: @preschool, local: true) do |f| %>
    <table>

    <%= render 'shared/error_messages', model: f.object %>
  
      <tr>
      <th class="click-upload">画像選択<span class="indispensable">※</span></th>
        <td><%= f.file_field :images, name:'preschool[images][]', id:"preschool-image" %></td>
      </tr>
  
      <tr>
        <th class="name">保育園名 <span class="indispensable">※</span></th>
        <td><%= f.text_field  :name, class:"preschool-name", id:"preschool-name", placeholder:"〇〇保育園（最大40文字）", maxlength:"40" %></td>
      </tr>
      <tr>
        <th  class="post-number">郵便番号 <span class="indispensable">※</span></th>
          <td><%= f.text_field :post_number, id:"preschool-postnumber",class:"preschool-postnumber", placeholder:"123-4567（ハイフンあり）" %></td>
      </tr>
      <tr>
        <th  class="area">所在地 <span class="indispensable">※</span></th>
        <td><%= f.collection_select :area_id, Area.all, :id, :name, {include_blank: "選択してください"},{class:"select-box"}%>
            <%= f.text_field  :address, class:"preschools-address", id:"preschool-address", placeholder:"天満1-2-3" %></td>
      </tr>
       <tr>
        <th  class="building">建物名</th>
        <td><%= f.text_field  :building, class:"preschools-building", id:"preschool-building", placeholder:"ABCビル1階" %></td>
      </tr>
      <tr>
        <th  class="phone-number">電話番号 <span class="indispensable">※</span></th>
        <td><%= f.text_field :phone_number, class:"phone-number", id:"preschool-phonenumber",placeholder:"例）0612345678（ハイフンなし）",maxlength:"11"%></td>
      </tr>
      <tr>
        <th  class="access">アクセス <span class="indispensable">※</span></th>
        <td><%= f.text_field :access, class:"access",id:"preschool-access", placeholder:"例）大阪駅より徒歩10分"%></td>
      </tr>
      <tr>
        <th  class="capacity">定員数 <span class="indispensable">※</span></th>
        <td><%= f.text_field :capacity, class:"capacity",id:"preschool-capacity", placeholder:"例）50"%></td>
      </tr>
      <tr>
        <th class="category">運営業態 <span class="indispensable">※</span></th>
        <td><%= f.collection_select(:category_id, Category.all, :id, :name, {include_blank: "選択してください"},{class:"select-box"}) %></td>
       </tr>
      <tr>
        <th class="opening-hour">開園時間 <span class="indispensable">※</span></th>
        <td><%= f.time_select :open_hour,:minute_step => 15,class:"open-hour",prompt: "--",ignore_data: false %>〜
            <%= f.time_select :close_hour,:minute_step => 15, class:"close-hour",prompt: "--",ignore_data: false %></td>
      </tr>
      <tr>
        <th class="concept-form">園の特徴（40文字以内) <span class="indispensable">※</span></th>
        <td class="preschool-concept-form"><%= f.text_area :concept, class:"concept",id:"preschool-concept", placeholder:"例）様々な預け方に対応できます！たくましい子どもを一緒に育てていきましょう！"%>
          <div id="char_num",class="char-count">現在0文字</div></td>
      </tr>
      <tr>
        <th class="email">メールアドレス<span class="indispensable">※</span></th>
        <td><%= f.text_field :email, class:"email", id:"preschool-enail",placeholder:"例）test@test.com"%></td>
      </tr>
       </table>
    <ul class="register-btn-contents">
      <li><%= f.submit "投稿する" ,url:preschools_path, class:"register-btn" %></li>
      <li><%= link_to 'もどる', root_path, class:"back-btn" %></li>
    </ul>
  <% end %>
 </div>
<%= render "shared/footer" %>
