<%= render "shared/header" %>
<div class="detail-show">
  <div class="detail-box">
    <div class="title">
      <div class="name">
        <%= @preschool.name %>
        </div> <%# "name"%>
        
        <div class="like-destroy-area">
          <% unless user_signed_in? %>
            <span class="like-count">★<%= @preschool.likes.count %></span>
          <% end %>
          <%= render "shared/likes" %>
        </div><%# like-destroy-area%>
     </div><%# title%>
      <div class="detail-image">
        <% @preschool.images.each do |image| %>
          <%= image_tag image, class: 'images' %>
        <% end %>
      </div>

      <table>
        <tr>
          <th class="post-number">住所</th>
          <td>〒<%= @preschool.post_number %>
          </br><%= @preschool.area.name%><%= @preschool.address%><%= @preschool.building%></td>
        </tr>
        <tr>
          <th class="phone-number">電話番号</th>
          <td><%= @preschool.phone_number%></td>
        </tr>
        <tr>
          <th class="access">アクセス</th>
          <td><%= @preschool.access %></td>
        </tr>
        <tr>
          <th class="capacccccity">定員数</th>
          <td><%= @preschool.capacity %>人</td>
        </tr>
        <tr>
          <th class="category">運営種別</th>
          <td><%= @preschool.category.name%></td>
        </tr>
        <tr>
          <th class="hour">開園時間</th>
          <td><%= l @preschool.open_hour, format: :short%>〜<%= l @preschool.close_hour ,format: :short%></td>
        </tr>
        <tr>
          <th class="concept">園の特徴</th>
          <td><%= @preschool.concept%></td>
        </tr>
      </table>
       <ul classs="contact">
        <li class="mail-contact"><%= mail_to @preschool.email,class:"email-click",
            :subject => '見学日程調整希望',
            :body => '↓↓ご希望の日時を３日程書いていただきますようお願いいたします↓↓' do %> 
            <i class="fas fa-envelope"></i><span class="visit"> お問い合わせはこちら</span>
            <% end %></li>
      </ul>
      <% if admin_signed_in? && current_admin.id == @preschool.admin_id %>
        <div class="preschool__manage">
          <%= link_to "編集",  edit_preschool_path(@preschool.id), class: :edit_btn %>
          <%= link_to "削除",  preschool_path(@preschool.id), class: :delete_btn,method: :delete %>
        </div>
      <% end%>
      <div class="map-area">
        <div class="google-map", id = "google-map">
          <%= render "shared/map" %>
        </div>
        <div class="map-open">
          <%= link_to image_tag("google_maps_logo.png",class:"map-icon"), "https://www.google.co.jp/maps/search/?api=1&query=#{@preschool.latitude},#{@preschool.longitude}",target: "_blank"  %></br>
          <%= link_to "GoogleMapを開く", "https://www.google.co.jp/maps/search/?api=1&query=#{@preschool.latitude},#{@preschool.longitude}",target: "_blank",class:"map-click"  %>
        </div>
      </div>
      <div class="preschool__comments">
        <% if user_signed_in? %>
          <%= form_with( model: [@preschool, @comment], id: "comment-form") do |f|%>
            <div class="field">
              <%= f.label :text, "口コミ",class:"comment-title" %>
            </div>
            <div class="comment-form">
              <%= f.text_field :text, id:"comment-content",placeholder: "見学に行かれた時の体験などぜひお書きください",class: "comment-input"%>
              <div class="actions" data-id=<%= @preschool.id %>>
                <%= f.submit "送信", class: :comment_form__btn, id:"submit", data: {id: @preschool.id} %>
              </div>
            </div>
          <% end %> 
        <% end%>
        <div class="comments_lists" id="comment-list">
          <% @preschool.comments.each do |comment|%>
            <div class="comments_list">
              <ul class="comment-figure">
                <li><%= link_to "#{comment.user.nickname}さん", "/users/#{comment.user_id}", {class: "comment_user"} %></li>
                <li><%= image_tag "mother.png", class:"mother-icon" %></li>
              </ul > <%#comment-figure%>
              <div class="comment-Ltxt">
                <p class="comment-text"><%= comment.text%></p>
                <% if user_signed_in? && current_user.id == comment.user_id %>
                  <div class="comments_manage">
                    <%= link_to preschool_comment_path(@preschool,comment), id:"comment-delete", class: :comment_destroy_btn, data: {'preschool-id': @preschool.id, 'comment-id': comment.id} do %>
                      <span><i class="fa fa-trash"></i></span>
                    <% end %>
                  </div><%#comments_manage%>
                <% end %><%# if user_signed_in?%>
              </div><%#comment-Ltxt%>
           </div><%#comments_list%>
          <% end %><%# each do comment%>
        </div><%#comments_lists%>
      </div><%#preschool__comments%>
  </div><%# detail-box%>
</div><%# detail-show%>
<%= render "shared/footer"%>