<%= render "shared/header" %>


<h1>詳細ページ</h1>

<div class="detail-info">
<div class="detail-name">園名
<%= @preschool.name %></div>
<div class="detail-name">
<% @preschool.images.each do |image| %>
  <%= image_tag image, class: 'images' %>
<% end %>
</div>
<div class="detail-name">郵便番号
<%= @preschool.post_number %>
</div>
<div class="detail-name">エリア<%= @preschool.area.name%></div>
<div class="detail-name">詳細住所<%= @preschool.address%></div>
<div class="detail-name">電話番号
<%= @preschool.phone_number%>
</div>
<div class="detail-name">アクセス
<%= @preschool.station %></div>
<div class="detail-name">定員数
<%= @preschool.capacity %>人</div>
<div class="detail-name">運営種別
<%= @preschool.category.name%></div>
<div class="detail-name">開園時間
<%= l @preschool.open_hour, format: :short%>〜<%= l @preschool.close_hour ,format: :short%></div>
<div class="detail-name">園の特徴
<%= @preschool.concept%></div>
<div class="email-btn">
<%= mail_to @preschool.email, "見学に行く",
      :subject => '見学日程調整希望',
      :body => '↓↓ご希望の日時を３日程書いていただきますようお願いいたします↓↓'  %></div>
</div>
 <% if admin_signed_in? && current_admin.id == @preschool.admin_id %>
<div class="preschool__manage">
<%= link_to "編集する",  edit_preschool_path(@preschool.id), class: :preschool__btn %>
<%= link_to "削除する",  preschool_path(@preschool.id), class: :preschool__btn,method: :delete %>
</div>
<% end%>

<div class="google-map", id = "google-map">
<%= render "shared/map" %>
</div>


<div class="preschool__comments">
 <% if user_signed_in? %>
<%= form_with( model: [@preschool, @comment], id: "comment-form") do |f|%>
<div class="field">
<%= f.label :text, "口コミ" %><br />
<%= f.text_field :text, id:"comment-content"%>
</div>
<div class="actions" data-id=<%= @preschool.id %>>
<%= f.submit "送信する", class: :comment_form__btn, id:"submit", data: {id: @preschool.id} %>
</div>
<% end %> 
<% end%>

<div class="comments_lists" , id = "comment-list" >
   <% @preschool.comments.each do |comment|%>
    <div class="comments_list">
      <%= comment.text%>
      <%= link_to "#{comment.user.nickname}さん", "/users/#{comment.user_id}",class: :comment_user %>
    <% if user_signed_in? && current_user.id == comment.user_id %>
      <div class="comments_manage">
        <%= link_to "編集",  edit_preschool_comment_path(comment.id), class: :comment_edit__btn %>
      <div class="comments_manage">
      <%= link_to "削除", preschool_comment_path(@preschool,comment), remote: true, id:"comment-delete", class: :comment_destroy_btn, data: {'preschool-id': @preschool.id, 'comment-id': comment.id},method: :delete %>
      </div>
    <% end%>
   <% end %>
   </div>
</div>


