

<header class='top-page-header'>
 <div class=user-admin-manage>
  <%= link_to image_tag("hoikunavi.png", class:"hoikunavi-icon"), root_path %>
    <ul class='user-manage'>
      <% if user_signed_in? %>
        <li><%= link_to "#{current_user.nickname}さん", user_path(current_user.id), class: "user-nickname"  %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "user-logout" %></li> 
      <%else%>
        <li><%= link_to 'ログイン', new_user_session_path, class: "user-login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "user-sign-up" %></li>
      <% end %>
    </ul>
    <div class="header-nav">
    <li class="menu-item a">
    <a href="">menu</a>
    <ul class="sub-menu">
      <li class="sub-menu-item a">
        <%= link_to '運営者はこちら', admins_path, class: "for-admins" %>
       </li>
      <li class="sub-menu-item a">
      <%= link_to '企業主導型って？', "https://www8.cao.go.jp/shoushi/shinseido/ryouritsu/tachiage/1_01.html", class: "for-admins" %>
      </li>
       </ul><!-- /.sub-menu -->
      </li><!-- /.menu-item a -->
      </div>
   </div> 
</header>