<%= render "shared/header" %>


<div class="registrations-admin-area">
 <%= form_with model: @admin, url: admin_session_path , local: true do |f| %>
   <div class='login-flash-message'>
    <%= flash[:notice] %>
    <%= flash[:alert] %>
  </div>

    <ul class="admin-field">
      <li><%= f.label :email ,"メールアドレス",class: "form-text"%></li>
      <li><%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder:"example@example.com" %></li>
    </ul>
  <ul class="admin-field">
      <li><%= f.label :password ,class: "form-text"%><br /></li>
      <li><%= f.password_field :password, autocomplete: "current-password" ,placeholder:"新規登録時のパスワード" %></li>
    </ul>

  <ul class="actions">
      <li><%= f.submit "ログイン" ,class:"register-btn"%></li>
    </ul>
    <% end %>
</div>
<%= render "shared/footer" %>
