<%= render "shared/header" %>
<div class="price-form">
   <ul class="new-title">
      <li class="new-submit">無償化料金シュミレーション</li>
    </ul>
  <%= form_with(model: @price, local: true) do |f| %>
    <%= render 'shared/error_messages', model: f.object %>
    <table>
      <tr>
        <th class  ="serelt-input">運営業態</th>
        <td><%= f.collection_select(:category_id, Category.all, :id, :name, {include_blank: "選択してください"},{class:"select-box"}) %></td>
      </tr>
      <tr>
        <th class  ="serelt-input">お子さんの年齢（学年齢）</th>
         <td><%= f.collection_select(:age_id, Age.all, :id, :name, {include_blank: "選択してください"},{class:"select-box"}) %></td>
      </tr>
      <tr>
        <th class  ="serelt-input">保育料（半角英数字）</th>
        <td><%= f.text_field :free_price, class:"free-price",  id:"free-price",placeholder:"例)40000"%>円</td>
      </tr>
      <tr>
        <th class  ="serelt-input">保育料以外の教材費、食費等（半角英数字）</th>
        <td><%= f.text_field :not_free_price, class:"not_free_price", placeholder:"例)20000"%></td>
      </tr>
    </table>
    <ul class="choose-area">
      <li class="return"><%= f.submit "シュミレーション結果を見る" ,url:prices_path(@price.id), class:"return_btn" %></li>
      <li class="return"><%= link_to '一覧画面へ戻る', root_path, class:"return_index_btn" %></li>
    </ul>
   <%end%>
</div>
<%= render "shared/footer" %>